nav {
  display: flex;
  justify-content: space-between;

  padding: 2em;

  font-family: "Poppins", sans-serif;

  background-color: rgba(222, 234, 246, 0.876);

  height: 6.5em;

  .nav-left {
    width: 40%;

    display: flex;
    align-items: center;

    h1 {
      font-size: 2em;

      color: rgb(32, 25, 236);
    }

    img {
      margin-left: 1em;

      height: 3em;
      width: 3em;
    }
  }

  .nav-right {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1em;

    a {
      text-decoration: none;

      margin: 0 10px;

      font-size: 19px;

      color: rgb(5, 5, 5);

      padding: 5px 8px;

      border-radius: 3px;
      font-weight: 500;

      transition: all 0.3s ease-out;
    }

    a:hover {
      transform: scale(1.1);

      color: rgb(32, 25, 236);

      //   box-shadow: rgba(0, 0, 0, 0.205) 1.95px 1.95px 2.6px;
    }

    .user {
      display: flex;
      align-items: center;

      img {
        height: 42px;
        width: 45px;
      }
    }
  }
}
