.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2em 2em;

  background-color: rgba(222, 234, 246, 0.876);

  height: 80vh;

  .left-side,
  .right-side {
    width: 100%;
    height: 100%;

    display: flex;

    gap: 2em;
  }

  .left-side {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

    background-image: url("../../../assets/image/login_theme.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      color: #fff;

      font-size: 2.5em;

      text-align: center;
    }
  }

  .right-side {
    background-color: #fff;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login {
      width: 100%;
      padding: 0 5em;

      form {
        display: flex;
        flex-direction: column;

        gap: 1em;

        height: 100%;
        width: 100%;

        .control-input {
          display: flex;
          flex-direction: column;

          gap: 0.5em;

          input {
            height: 3em;

            border-radius: 0.3em;
            border: 1px solid black;

            padding: 0.4em 2em;
          }

          &::placeholder {
            font-size: 1.1em;
            font-weight: 200;
          }

          label {
            font-size: 1.3em;
          }
        }

        .control-input-options {
          display: flex;
          justify-content: space-between;

          section {
            display: flex;
            align-items: center;
            gap: 0.5em;
          }
        }

        .button {
          padding: 0.5em 3em;

          border-radius: 0.3em;
          border: 1px solid rgb(92, 91, 91);

          cursor: pointer;

          font-size: 1.2em;

          color: #fff;

          background-color: rgba(55, 55, 233, 0.89);
          &:disabled {
            opacity: 0.7;
          }
        }

        .login-social-media {
          width: 100%;

          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-around;

          gap: 1em;

          section {
            width: 100%;
            display: flex;
            justify-content: space-around;
          }

          a {
            text-decoration: none;
          }

          svg {
            width: 2em;
            height: 2em;

            color: rgb(34, 34, 204);
          }
        }
      }
    }
  }
}
