.new-consultation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  height: 100%;
  width: 100%;

  padding: 2em 2em;

  p {
    margin: 0.6em 0;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    @media (max-width: 600px) {
      font-size: 1.4em;
    }
  }

  .item {
    @media (max-width: 600px) {
      width: 80%;
      height: 70px;
      font-size: 1.1em;
    }
    min-width: 200px;
    width: 290px;
    height: 90px;
    gap: 1em;

    background-color: #031961be;

    border: 3px solid #031961e8;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.3rem;
    font-weight: 600;
    color: #cacaca;

    transition: 0.3s ease-out;
    &:hover {
      cursor: pointer;
      background-color: #143396be;
      box-shadow: 0 0 10px 0 #031961e8;
      transform: scale(1.1);
    }
  }
}
