button {
  width: 200px;
  height: 45px;

  border: none;
  border-radius: 5px;

  background-color: #031961be;

  transition: 0.3s ease-out;

  padding: 0.3em;

  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffff;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
